<h1>Lista de Productos</h1>
<ul>
  <% products.forEach(product => { %>
    <li>
      <a href="/views/products/<%= product._id %>">
        <%= product.name %>
      </a>
      <form action="/add-to-cart" method="post">
        <input type="hidden" name="productId" value="<%= product._id %>">
        <button type="submit">Agregar al carrito</button>
      </form>
    </li>
  <% }); %>
</ul>
<!-- Paginaci칩n -->
<div>
  <% if (hasPrevPage) { %>
    <a href="<%= prevLink %>">P치gina anterior</a>
  <% } %>
  P치gina <%= page %> de <%= totalPages %>
  <% if (hasNextPage) { %>
    <a href="<%= nextLink %>">P치gina siguiente</a>
  <% } %>
</div>
